/*
flex-direction: row | column |  row-reverse | column-reverse
flex-wrap: no-wrap | wrap | wrap-reverse para que se adapten al tamaño o no
flex-flow: row wrap -> recive el felx-direction y wrap
justify-content: flex-start | flex-end | center | space-around | space-between
align-items: flex-start | flex-end | center | stretch | baseline
align-content: flex-start | flex-end | center | stretch | space-around | space-between
para elementos
flex-grow:  1
flex-shrink: 1
order: 1 cualquier numero
*/
@font-face {
  font-family: 'iconos';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

gris = #9999aa
gris_oscuro = #444449
gris_claro = #f2f4f6
primary_color =#ff6600
primary_color_hover =rgba(255, 102, 0, 0.5)
*
  margin 0
  padding 0
  box-sizing border-box
.container
  max-width 1300px
  margin auto
ul,ol
  list-style none

.container
  max-width 1180px
  margin auto
.beta
  display none !important

#disqus_thread
  iframe
    width 100% !important
header
  width 100%
  border-bottom 1px solid gris
  .menu_bar
    display none
  .cont_header
    display flex
    flex-direction row
    align-items center
    justify-content center
    flex-wrap wrap
    img
      width 100px
      height 100px
    nav
      background white
      text-align right
      z-index 1000
      width 70%
      ul
        list-style none
        li
          display  inline-block
          position relative
          a
            color gris
            display block
            text-decoration none
            padding 20px
            font-family 'Source Sans Pro', sans-serif
            font-size 18px
            &:hover
              color primary_color
          &:last-child > .sub-menu
            left: -75px
        .sub-menu
            display none
            background rgba(255,255,255,0.9)
            position absolute
            z-index 1000
            width 150%
            padding 10px
            min-width 140px
            border 1px solid #eee
            text-align left
            li
              display block
              border-bottom 1px solid #eee
              a
                display block

.main
  width 100%
  //===========Slider===============
  .theme-live
    .nivoSlider
      position relative
      a
        border 0
        display block
      img
        height 610px !important
    //===========Pagination===============
    .nivo-control
      display block
      width 18px
      height 18px
      border-radius 50%
      background gris
      margin 3px
      text-indent -9999px
      &:hover
        background gris_oscuro
    .nivo-controlNav
      display flex
      justify-content center
    .active
      background gris_oscuro
    //===========Arrows===============
    .nivo-directionNav
      .nivo-prevNav
        display inline-block
        font normal normal normal 14px/1 iconos
        font-size inherit
        text-rendering auto
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        margin-left 10px
        font-size 60px
        color white
        &:after
          content: "\f104";
      .nivo-nextNav
        display inline-block
        font normal normal normal 14px/1 iconos
        font-size inherit
        text-rendering auto
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        font-size 60px
        color white
        &:after
          content: "\f105";
      a
        display block
        width 35px
        height 35px
//==========Barra de titulo===============
  .barra
    background-image url('../images/blog/barra.png')
    background-position center top
    background-size 100% 100%
    background-repeat no-repeat
    background-attachment fixed
    margin 0 0   20px 0
    padding 40px 20px
    .content
      display flex
      align-items center
      justify-content space-between
      flex-wrap wrap
      flex-direction row
      .page_title
        text-align center
        width 100%
        font-family 'Source Sans Pro', sans-serif
        color white
      .titulo
      .text
        font-weight 400
        color white
        font-family 'Source Sans Pro', sans-serif
        margin 30px 0
        font-size 20px
      .icon
        display flex
        align-items center
        justify-content center
        text-align center
        width 60px
        height 60px
        font-size 30px
        border 1px solid white
        border-radius 50%
        a
          text-decoration none
          color white
        &:hover
          width 70px
          height 70px
          a
            font-size 35px
//===============Contenido paginas=======================
  .content_page
    display flex
    align-items flex-start
    justify-content space-between
    flex-wrap wrap
    padding 20px
    .information
      width 66%
      .breadcrumb
        margin-bottom 10px
        color gris_oscuro
        font-family 'Source Sans Pro', sans-serif
        a
          text-decoration none
          color primary_color
          &:hover
            color gris_oscuro
      h1
        color gris_oscuro
        text-align center
        font-family 'Source Sans Pro', sans-serif
      iframe
        width 100%
      .contact
        display flex
        flex-direction row
        justify-content flex-start
        align-items flex-start
        flex-wrap wrap
        .contact_box
          padding 10px
          width 250px
          margin 10px
          border-radius 5px
          .contact_title
            border-bottom 1px solid gris
            display flex
            justify-content flex-start
            align-items center
            color gris_oscuro
            font-family 'Source Sans Pro', sans-serif
            font-size 25px
            margin-bottom 10px
            .contact_icon
              margin-right 10px
              color primary_color
              font-size 30px
          .contact_content
            margin-left 30px
            a
              margin-bottom 20px
              color gris
              &:hover
                color primary_color
      .cont_email
        display flex
        justify-content flex-start
        align-items flex-start
        flex-wrap wrap
        .text
          width 30%
          padding 10px
        .input
          display flex
          align-items flex-start
          flex-wrap wrap
          width 64%
          .col
            width 100%
          .col-3
            width 31%
            margin-bottom 10px
          textarea
            width 91%
            margin-top 10px
            border 1px solid gris_oscuro
            padding 10px
            border-radius 4px
          span
            width 100%
          input
            width 90%
            margin-top 10px
            border 1px solid gris_oscuro
            padding 10px
            border-radius 4px
          label
            color gris_oscuro
            margin-right 10px
          .btn
            input
              background primary_color
              border 1px solid primary_color
              color white
              padding 10px
              width 100%
              &:hover
                background gris_oscuro
                border-color gris_oscuro
      .articles_list
        justify-content center
        .post
          .post_content
            height 100%
      .img_post
        img
          width 100%
        &.single
          img
            height auto
      .post_content
        border: 1px solid #ddd
        margin-top -4px
        font-family 'Source Sans Pro', sans-serif
        padding 20px
        color gris
        a
          color primary_color
          text-decoration none
          &:hover
            color primary_color_hover
        .btn
          padding 10px 20px
          background primary_color
          color white
          margin 26px 0px
          text-align center
          font-size 24px
          border-radius 5px
          &:hover
            background gris_oscuro
            color white
        //==================Estilos de alineacion========================
        img
          width auto
        .center
          text-align center
        img.center, img[algin="center"]
          display block
          margin-left auto
          margin-right auto
        img.alignright,img[algin="right"]
          float right
          margin 2px 0px 5px 10px
        .alignright
          float right
        img.alignleft,img[algin="left"]
          float left
          margin 2px 10px 5px 0px
        .alignleft
          float left
        ul
          margin-bottom 15px
          list-style disc
          padding-left 30px
        h1
        h2
        h3
        h4
        h5
          margin 20px 0
          color gris_oscuro
        p
          margin-bottom 10px
        .clear
          clear both
        hr.clear
          clear botg
          visibility hidden
          margin 0px
          padding 0px
          height 0px
        .post_line
          overflow hidden
          text-transform uppercase
          position relative
          padding 0 0 10px
          margin 0 0 20px
          color #aaa
          font-size 0.9em
          &:before
            content ' '
            position absolute
            background #bbb
            bottom 0
            left 0
            width 100px
            height 1px
    .information.Naside
      width 100%
  /*===========Sidebar===============*/
    .sidebar
      width 33%
      .widget
        margin-bottom 20px
        h3
          font-family 'Source Sans Pro', sans-serif
          color gris_oscuro
          margin-bottom 10px
        .cat
          display flex
          justify-content flex-start
          flex-direction column
          align-items flex-start
          .item
            width 100%
            padding 10px
            border 1px solid gris
            border-radius 4px
            margin-bottom 2px
            display flex
            justify-content space-between
            a
              font-family 'Source Sans Pro', sans-serif
              color gris_oscuro
              text-decoration none
              &:hover
                color primary_color
            span
              background primary_color
              padding 5px 10px
              border-radius 10px
              font-size 12px
              color white
              font-family 'Source Sans Pro', sans-serif
        .searchform
          position relative
          input[type=text]
            padding 10px
            border 1px solid #ddd
            background #f5f5f5
            width 95%
            border-radius 4px
          input[type=submit]
            display none
          .icon_search
            position absolute
            right 10px
            top 10px
            cursor pointer
            color gris_oscuro
        .recent-post
          margin-bottom 20px
          display flex
          justify-content flex-start
          align-items center
          .recent-image
            img
              border-radius 5px
              margin-right 10px
              &:hover
                opacity 0.5
          .recent-body
            a
              text-decoration none
              color gris_oscuro
              font-family 'Source Sans Pro', sans-serif
              font-weight 800
              &:hover
                color primary_color
            .recent-meta
              font-family 'Source Sans Pro', sans-serif
              color gris
              font-size 12px
        ul
          display flex
          justify-content flex-start
          align-items center
          flex-direction row
          flex-wrap wrap
          .cat-item
            margin-right 10px
            margin-bottom 15px
            a
              text-decoration none
              color gris
              font-size 12px
              padding 5px 10px
              border 1px solid gris
              &:hover
                color primary_color
                border 1px solid primary_color
        .screen-reader-text
          display none
        select
          padding 10px
          border 1px solid #ddd
          background #f5f5f5
          width 95%
          border-radius 4px
//=================Tarjetas 3D=======================
  .contenedor
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content flex-start
    .contenedor_tarjeta
      margin 30px
      &:hover
        figure
          -webkit-transform perspective(600px) rotateY(180deg)
          -ms-transform perspective(600px) rotateY(180deg)
          -o-transform perspective(600px) rotateY(180deg)
          transform perspective(600px) rotateY(180deg)
          -webkit-box-shadow 0px 2px 10px 2px rbga(0,0,0,0.25)
          -moz-box-shadow 0px 2px 10px 2px rbga(0,0,0,0.25)
          box-shadow 0px 2px 10px 2px rbga(0,0,0,0.25)
          .frontal.box
            .titulo
              display none
      a
        display inline-block
      figure
        width 300px
        height 350px
        margin 0
        position relative
        transition all ease .5s
        transform-style preserve-3d
        transform perspective(600px) rotateY(0deg)
        img
          width 100%
          height 350px
          border-radius 5px
        .frontal.box
          position relative
          .titulo
            position absolute
            bottom 0
            padding 10px
            color white
            background rgba(19, 18, 18, 0.7)
            border-radius  0 0 5px 5px
            width 300px
            h2
              margin-bottom 10px
            .extra
              display flex
              justify-content space-between
              i
                margin-right 10px
        .frontal
        .trasera
          width 300px
          height 350px
          border-radius 5px
          transition all ease .5s
        .frontal
          display block
          top 0
          //backface-visibility hidden
        .trasera
          position absolute
          top 0
          padding 20px
          color white
          transform perspective(600px) rotateY(180deg)
          backface-visibility hidden
          overflow auto
          background rgba(19, 18, 18, 0.7)
          .titulo
            color white
            font-weight normal
            margin-bottom 20px
            font-family 'Source Sans Pro', sans-serif
            font-size 24px
          hr
            height 2px
            background white
            border none
            margin-bottom 20px
            opacity .5
          p
            font-family 'Source Sans Pro', sans-serif
            line-height 22px
            font-size 14px
  div.pagination
    margin 0 0 30px
    text-align center
    list-style none
    margin 0
    font-size 30px
    font-family: 'Source Sans Pro', sans-serif
    font-weight 400
    margin 0 5px
    width 100%
    padding 10px 0
    margin-bottom 10px
    ul
      display flex
      justify-content center
      align-items center
      .active
        color primary_color
        &:hover
          background white !important
          color primary_color !important
      .disabled
        &:hover
          background white !important
          color gris !important
      li
        border-radius 0px
        padding 5px
        width 50px
        height 50px
        border 1px solid #eee
        color gris
        margin 0 2px
        a
          text-decoration none
          border-radius 0px
          width 45px
          height 45px
          color gris
        &:hover
          background primary_color
          a
            color white

//===================Footer============================
footer
  background gris_oscuro
  .footer_top
    display flex
    align-items flex-start
    justify-content center
    flex-wrap wrap
    flex-direction row
    padding 20px 0
    .iconos
      width 30%
      min-width 200px
      display flex
      align-items center
      justify-content flex-start
      flex-direction column
      .logo
        img
          width 150px
          height 150px
      .redes
        width 100%
        display flex
        align-items center
        justify-content center
        flex-direction row
        a
          color white
          margin 0 2px
          text-decoration none
          width 35px
          padding 10px 5px
          border 1px solid gris
          text-align center
          font-size 16px
          background black
          &:hover
            border 1px solid primary_color
            background primary_color
  .footer_bottom
    border-top 1px solid gris
    display flex
    flex-direction row
    align-items center
    justify-content space-between
    flex-wrap wrap
    padding 10px 0
    .Cont_copyrigth
      width 70%
      min-width 300px
      .copyrigth
        text-align left
        font-size: 1em
        font-family: 'Source Sans Pro', sans-serif
        font-weight: 400
        color white
        padding 10px
    .boton
      width 30%
      min-width 200px
      display flex
      flex-direction row
      align-items center
      justify-content flex-end
      flex-wrap wrap
      a
        color white
        margin 0 10px
        text-decoration none
        width 35px
        padding 10px 5px
        border 1px solid gris
        text-align center
        font-size 16px
        background black
        &:hover
          border 1px solid primary_color
          background primary_color
